.footer_container {
    position: fixed;
    display: flex;
    bottom: 0px;
    background-color: #001F8B;
    width: 77%;
    height: 20vh;
    padding: 20px;
}

.note_input_area {
    flex: 1 1 auto;
    height: 18vh;
    position: relative;
    display: flex;
}

.note_input_area > textarea {
    flex: 1 1 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #9A9A9A;
    margin-left: 1vw;
}

.add_note_button_container {
    position: absolute;
    bottom: 1vh;
    right: 2vw;
}

.add_note_button {
    all: unset;
    cursor: pointer;
}

.add_note_button_disabled {
    all: unset;
}