.app_name_container{
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}