.note_input_area {
    flex: 30%;
    position: relative;
    display: flex;
    background-color: #001F8B;
    align-items: center;
    justify-content: center;
}

.note_input_area > textarea {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #9A9A9A;
    height: 80%;
    margin: 20px;
}

.add_note_button_container {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.add_note_button {
    all: unset;
    cursor: pointer;
}

.add_note_button_disabled {
    all: unset;
}