.add_note_group_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 6vh;
    right: 4vw;
    background-color: #16008B;
    border-radius: 50%;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
}