.add_note_modal_container {
    z-index: 1;
    position: fixed;
    top: 40vh;
    left: 40vw;
    background-color: white;
}

.choose_color > input {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.choose_color > input:checked {
    border: 2px solid black;
}