.note_groups_container {
    position: relative;
    top: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1px;
    overflow-y: auto;
}