.App{
    height: 100vh;
    display: flex;
}

.app_note_group_container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 25%;
}

.app_note_container {
    display: flex;
    flex: 75%;
    background-color: #DAE5F5;
}

@media only screen and (max-width: 768px) {
    .app_note_group_container{
        flex: 30%;
    }

    .app_note_container {
        flex: 70%;
        background-color: #DAE5F5;
    }
}

@media only screen and (max-width: 576px) {
    .app_note_group_container{
        flex: 100%;
    }

    .app_note_container {
        flex: 100%;
        background-color: #DAE5F5;
    }
}